* {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

ul, li, p {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

.logo {
    margin-top: 63px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 1.175;
    color: #000000;
}
.text-color {
     color: #4BCAFF
}
.nav-bar {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    background: #35444F;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #FFFFFF;
    margin-bottom: 49px;

}
.nav-option {
    border-left: 1px solid #FFFFFF;
    padding: 24px 32px;
}
.option-5 {
    border-right: 1px solid #FFFFFF;
}
.aside-menu {
    width: 344px;
    border: 1px solid #000000;
}
.aside-option {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 44px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    /* identical to box height, or 100% */
    color: #485863;
}
.aside-option:hover, .aside-option:focus {
    background-color: #DBDBDB;
    padding-left: 60px;
    font-weight: 600;
}
.nav-option:hover {
    background-color: #222F3A;
    font-weight: 600;
}
.container {
    display: flex;
    border: 1px solid #000000;
    height: 529px;
    width: 885px;
    margin-left: 45px;

}
img {
    margin: auto;
    width: 320px;
    height: 381px;
}
.main-section {
    display: flex;
}
.first-paragraph {
    margin-left: 45px;
    margin-top: 35px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    /* or 133% */
    color: #2C2C2C;
}
.second-paragraph {
    margin-left: 45px;
    margin-top: 35px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    /* or 133% */
    color: #2C2C2C;
}
.footer{
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    background-color: #63696E7A;
    height: 69px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: #0C1927;
    margin-top: 54px;
    margin-bottom: 30px;
}
.footer-option {
    display: inline;
    padding-top: 20px;
    padding-bottom: 21px;
    padding-left: 40px;
}
.last-text {
    padding-left: 135px;
    margin: 0 auto;
}
